.miniCardWrapper {
    width: 90%;
    margin: 0 auto;
    display: flex;
    // 子要素が奇数の場合はmrをつける
    & > *:nth-child(odd) {
        margin-right: 10%;
    }
}
.miniCard {
    width: 50%;
    background-color: gray !important;
    color: #e8e6e3 !important;
    p {
        color: #e8e6e3 !important;
    }
}
