.globalStyles {
    margin-top: 5rem !important;
    background-color: rgb(10, 25, 41);
    height: auto;
    margin: 0;
    padding: 0;
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 2rem;
}
.authButton {
    margin-top: 2rem !important;
    margin: 0 auto !important;
    display: block !important;
    width: 30%;
    height: 3rem;
    border-radius: 10px;
}
