.header {
  background-color: rgb(20, 94, 168) !important;
  .buttons {
    button {
      font-size: 0.7em;
    }
    & button:nth-child(1) {
      color: rgb(97, 184, 255);
      background-color: rgb(15, 38, 61);
    }
  }
}
.headerWrapper {
  width: 100vw !important;
  margin: 0 auto;
  background-color: rgb(20, 94, 168) !important;
  position: fixed;
  z-index: 3;
  top: 0;
}
